<section>


  <table class="table">
    <caption>List of categories</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th  scope="col">Action</th>
        <th  scope="col">Edit</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of categories ;let currentIndex = index"  >
        <td >
          <!-- <a routerLink="/details/{{categories[currentIndex].categoryId}} "> -->
           {{item.categoryId}}
          <!-- </a> -->
        </td>
        <td >{{item.categoryName}}</td>


        <td  ><button class="btn btn-danger" (click)="deleteCategory(currentIndex)"  >Delete</button></td>
        <td  ><a routerLink="/admin/editCategory/{{item.categoryId}}"><button class="btn btn-warning"  >Edit</button></a></td>

      </tr>

    </tbody>
  </table>
</section>
