@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



html, body { height: 100%; }

// .mat-app-background {
//     $background: map-get($theme, background);
//     background-color: mat-color($background, background);
//   }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
>>>>>>> 56764417ce7a4ed01ea5cb60a15cd4688d574bb1
