<div class="container mt-5">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>search by productName or Description</mat-label>
    <input matInput placeholder="search by productName or Description"
      name="keyword" #keyword (keyup)="searchByKeyword(keyword.value)" color="primary">
  </mat-form-field>
  <table mat-table [dataSource]="productDetails" class="mat-elevation-z8">

    <ng-container matColumnDef="product Id">
      <th mat-header-cell *matHeaderCellDef> product Id </th>
      <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> productName </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> image </th>
      <td mat-cell *matCellDef="let element"><img src="../../assets/images/{{element.image}}"  ></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

          <!-- price Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>



          <!-- edit Column -->
          <ng-container matColumnDef="edt">
            <th mat-header-cell *matHeaderCellDef > edit </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" routerLink="/admin/editProduct/{{element.productId}}">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- delete Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="deleteProduct(element.productId )">
                <mat-icon> delete </mat-icon>
              </button>
            </td>
          </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
  <!-- <mat-paginator [pageSizeOptions]="[5,10,20]"
  showFirstLastButtons="">
</mat-paginator> -->
<div class="d-flex justify-content-center">
  <div class="text-center mt-5 " style="padding-bottom: 15px;">
    <button type="button" mat-raised-button
    color="warn" (click)="loadBefore()" >  Load previous </button>
  </div>
  <div  class="text-center mt-5 " style="padding-bottom: 15px;">
    <p>current Page is {{response.pageNumber}}</p>
  </div>

<div class="text-center mt-5 " style="padding-bottom: 15px;" *ngIf="showLoadButton">
  <button type="button" mat-raised-button
  color="warn" (click)="loadNext()" >  Load next </button>
</div>

</div>
