<section>
  <header>Number of products {{response.totalElements}}</header>


  <table class="table">
    <caption>List of products</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">image</th>
        <th scope="col">description</th>
        <th scope="col">quantity</th>
        <th scope="col">price</th>
        <th  scope="col">Action</th>
        <th  scope="col">Edit</th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productDetails ;let currentIndex = index"  >
        <td >
          <!-- <a routerLink="/details/{{productDetails[currentIndex].ID}} "> -->
           {{item.productId}}
          <!-- </a> -->
        </td>
        <td >{{item.productName}}</td>
        <td ><img src="../../assets/images/{{item.image}}"></td>
        <td >{{item.description}}</td>
        <td>{{item.quantity}}</td>
        <td >{{item.price}}</td>

        <td  ><button class="btn btn-danger" (click)="productDetails(item.ID)" >Delete</button></td>
        <td  ><a routerLink="/edit/{{item.ID}}"><button class="btn btn-warning"  >Edit</button></a></td>

      </tr>

    </tbody>
  </table>
</section>
  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons=""></mat-paginator>
