<mat-toolbar color="primary" class="d-flex justify-content-between">
  <button mat-raised-button color="primary" routerLink="/home">Home</button>
  <span class="text-center">Add Products</span>
  <span class="space-buttons"></span>
</mat-toolbar>
<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div class="col-6">
        <form #productForm="ngForm" (ngSubmit)="addProduct(productForm)">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category ID</mat-label>
            <input matInput placeholder="categoryId"
                    [(ngModel)]="product.categoryId"
                    name="categoryId">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Product Name"
                    [(ngModel)]="product.productName"
                    name="productName">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Description</mat-label>
            <input matInput placeholder="Product Description"
                    [(ngModel)]="product.description"
                    name="description">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Quantity</mat-label>
            <input matInput placeholder="Product Quantity"
                    [(ngModel)]="product.quantity"
                    name="quantity">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Price</mat-label>
            <input matInput placeholder="Product Price"
                    [(ngModel)]="product.price"
                    name="price">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Image</mat-label>
            <input matInput placeholder="Product Image"
                    [(ngModel)]="product.image"
                    name="image">
          </mat-form-field>
          <div class="d-flex justify-content-between">
            <button mat-stroked-button color="primary" type="reset">clear</button>
            <button type="submit" mat-stroked-button color="primary" >Add Product</button>
          </div>
        </form>
      </div>
    

     
    </div>

  </div>
</div>
