
<mat-toolbar class="justify-between  mx-auto bg-dark text-light">


  <button class="ms-1" mat-icon-button (click)="routeToRegister()"color="white">
      <mat-icon>account_circle</mat-icon>
      Account
    </button>

</mat-toolbar>

<mat-toolbar class="justify-between  mx-auto border-x bg">
  <a routerLink="home">Flamigoo</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu" >
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">{{ cart.items.length }} items</span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">
        <div
          *ngFor="let item of cart.items"
          class="flex justify-between font-light mb-2"
        >
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold not-italic">{{ item.price | currency }}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold not-italic">{{
          getTotal(cart.items) | currency
        }}</span>
      </div>
      <div class="pt-3 flex justify-between">
        <button
          (click)="onClearCart()"
          class="bg-rose-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>remove_shopping_cart</mat-icon>
        </button>
        <button
          routerLink="cart"
          class="bg-green-600 text-white rounded-full w-9 h-9"
        >
          <mat-icon>shopping_cart_checkout</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
  
</mat-toolbar>

<section id="home_upper">
  <div id="carouselExampleIndicators" class="carousel slide  banner d-flex justify-content-center align-items-center align-content-center" data-bs-ride="true" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <!-- <img src="/assets/images/banner2.jpg" class="d-block w-100" alt="..."> -->
          <div class="row">
            <div class="col-sm-12">
               <h1 class="banner_taital line-space">Get Start <br > Your favriot shoping</h1>
               <div class="buynow_bt"><a href="#">Buy Now</a></div>
            </div>
         </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-12">
               <h1 class="banner_taital line-space">What you  <br>need for shoping</h1>
               <div class="buynow_bt"><a href="#">Buy Now</a></div>
            </div>
         </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-12">
               <h1 class="banner_taital line-space">Get Fast <br>shoping</h1>
               <div class="buynow_bt"><a href="#">Buy Now</a></div>
            </div>
         </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
